@page "/RecipeView/{id:int}"
@inject NavigationManager NavigationManager
@inject HttpClient HttpClient
@inject IDbContextFactory<ApplicationDbContext> dbContext
@inject RecipeVault.Components.Account.IdentityUserAccessor UserAccessor
@using RecipeVault.Models
@using System.Net.Http.Json
@using Microsoft.AspNetCore.Mvc;
@using Microsoft.EntityFrameworkCore;
@using RecipeVault.Data;
@using RecipeVault.Models;


<PageTitle>{recipe_name}</PageTitle>

@if(recipe != null)
{
    <div class="container py-5">

        <h1 title="Name">@recipe.Name</h1>

        <div class="main">

            <div id=category> 
                <h2>Category</h2>
                <p>@recipe.Category.Name</p>
            </div>

            <div id=description> 
                <h2>Description</h2>
                <p>@recipe.Description</p>
            </div>

            <div class="ingredients"> 
                <h2>Ingredients</h2>
                <!--Generate list of ingredients here-->
                <ul>

                    @foreach (var ingredient in recipe.Ingredients)
                    {
                        <li>@ingredient.Quantity - @ingredient.Units : @ingredient.Name</li>
                    }
                </ul>
            </div>

            <div class="instructions">
                <h2 class=section>Instructions</h2>
                <!--Generate list of instructions here-->
                <p>
                    @recipe.Instructions
                </p>
            </div>
        </div>

        <div class="buttons-container">
            <button class="btn btn-secondary" OnClick=" location.href='/RecipeEdit/@recipe.Id' ">Edit</button>
            <button class="btn btn-danger" OnClick=" location.href='/RecipeDelete/@recipe.Id' ">Delete</button>
        </div>

    </div>

}



@code {


    [Parameter]
    public int Id { get; set; }


    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    [SupplyParameterFromForm]
    private Recipe recipe { get; set; }

   

    private List<Category> Categories { get; set; } = new List<Category>();



    protected override async Task OnInitializedAsync()
    {        
        using var context = dbContext.CreateDbContext();
        Categories = await context.Category.ToListAsync();
        recipe = await context.Recipe
            .Include(r => r.Category)

            .Include(r => r.Ingredients) 
            .FirstOrDefaultAsync(r => r.Id == this.Id);
        Console.WriteLine("Recipe: " + recipe.Name);
        Console.WriteLine("Category: " + recipe.Category.Name);
    }

}